{
  "endOfLine": "lf",
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "jsxBracketSameLine": false
}
